.DS_Store
node_modules
.env
.env.*

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

## Repo

/packages/site-kit-monaco-editor/lib
/packages/site-kit-monarch-syntaxes/lib
/packages/site-kit-monaco-editor-vue/MonacoEditor.vue.d.ts
/packages/site-kit-monaco-editor-vue/MonacoEditor.vue3.js
/packages/site-kit-monaco-editor-vue/MonacoEditor.vue2.js
/packages/site-kit-eslint-editor-vue/ESLintEditor.vue.d.ts
/packages/site-kit-eslint-editor-vue/ESLintEditor.vue3.js
/packages/site-kit-eslint-editor-vue/ESLintEditor.vue2.js
